# 0. Librerias

In [5]:
!python -m pip install -q sqlalchemy psycopg2

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
from sqlalchemy import create_engine
#import psycopg2
import os
#from dotenv import load_dotenv
#load_dotenv()
#DB=os.getenv("DATABASE")
path_actual = os.getcwd()
print(path_actual)

c:\Users\david\Desktop\BIT\Bootcamp-DS-2024-I\Clase 11

# 1. DB Connection

In [6]:
ruta="C:/Users/david/Downloads/"
with open(ruta+'password.txt','r') as f:
    pwd= f.read()
hostname= 'localhost'
database= 'TESTING'
username= 'postgres'
pwd=pwd
port_id= '5432'
engine= create_engine(f"postgresql://{username}:{pwd}@localhost:{port_id}/{database}")
engine

Engine(postgresql://postgres:***@localhost:5432/TESTING)

# 2. Data Extraction and Loading

In [7]:
df = pd.read_csv(path_actual+'/productcategory.csv').to_sql('productcategory', engine, if_exists='replace', index=False)

# 3. Data Loading

In [8]:
from sqlalchemy import text
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [9]:

query="""
SELECT * FROM productcategory
"""
runQuery(query)

,productcategoryid,name,rowguid,modifieddate
0,1,Bikes,cfbda25c-df71-47a7-b81b-64ee161aa37c,2008-04-30 00:00:00
1,2,Components,c657828d-d808-4aba-91a3-af2ce02300e9,2008-04-30 00:00:00
2,3,Clothing,10a7c342-ca82-48d4-8a38-46a2eb089b74,2008-04-30 00:00:00
3,4,Accessories,2be3be36-d9a2-4eee-b593-ed895d97c2a6,2008-04-30 00:00:00

In [10]:
del engine